.App {
  min-height:100vh;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 30%;
  padding: 10px;
  border: none;
}

.search-button{
  background: rgb(255, 187, 0);
  border:none;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  margin:0; 
}

button:hover {
  /* background-color: #EF9B0F; */
  background-color: #8cc152;
  color: white;
}

 .recipe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .recipe-card{
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;

} */